:root {
  --color-accent: #4d92ce;
  --color-offblack: #333;
  --color-offwhite: #f9f9f9;
}

body {
  background-color: var(--color-offwhite);
}

a {
  color: var(--color-accent);
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-offblack);
}

#banner {
  background-size: cover;
}

#about-content {
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 40em;
}

.accent {
  font-weight: bold;
  color: var(--color-accent);
}

.company-logo {
  width: 12em;
  height: auto;
}

